h1{
	font-family: Montserrat;
	text-align: center;
	background-color: orange;
	color:black;
	padding: 20px;
}
hr{
	border:2px ridge black;
	width:50%;
}
p{
	font-family: Montserrat;
	 margin-left:100px;
	 margin-right: 100px;
	 margin-top: 50px;
}
img{
	 border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
  width:30%;
  margin-top:40px;
}

header {
	background-color: orange;
	padding: 10px;
}

ul{
	list-style: none;
}
li{
    display: inline;
    margin:80px;
    font-family: Montserrat;
}
li a {
	    color:black;
    text-decoration: none;
    font-family: Montserrat;
}
footer{
	background-color: orange;
	color:black;
	padding:10px;
	text-align: center;
}
.special_para{
	 font-size: 20px;
	 font-family: Montserrat;
	 margin:10px;
	 text-align: row;
}
#speciall{
	font-family: Montserrat;
	text-align: row;
}